<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <section class="home__main__section--productos">
      <article class="home__main__section__article animate__animated">
        <div class="home__main__section__article--imagen">
          <img
            class="home__main__section__article--imagen-product"
            src="/images/courses/<%= course.image %> "
            alt=""
          />
          <img
            class="home__main__section__article--imagen-sticker"
            src="/images/img-nuevo.png"
            alt=""
          />
        </div>
        <div class="home__main__section__article--contenido">
          <h4><%= course.title %></h4>
          <p><%= course.description %></p>
          <p><%= course.chef %></p>
          <p><%= course.price %></p>
        </div>
      </article>
    </section>
    <%- include('../partials/footer') %> <%- include('../partials/whatsapp') %>
  </body>
</html>
