<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <section class="home__main__section--productos">
      <article class="home__main__section__article animate__animated">
        <div class="home__main__section__article--imagen">
          <img
            class="home__main__section__article--imagen-product"
            src="/images/courses/<%= image ? image : 'image-not-available.png'%> "
            alt=""
          />
          <img
            class="home__main__section__article--imagen-sticker"
            src="/images/img-nuevo.png"
            alt=""
          />
        </div>
        <div class="home__main__section__article--contenido">
          <h4><%= title %></h4>
          <p><%= description %></p>
          <p><%= chef %></p>
          <p><%= price %></p>
        </div>
        <div class="d-flex gap-2">
          <a class="btn btn-success" href="/courses/edit/<%= id %>">Editar</a>
          <a class="btn btn-danger" href="/courses/remove/<%= id %>">Eliminar</a>
        </div>
      </article>
    </section>
    <%- include('../partials/footer') %> <%- include('../partials/whatsapp') %>
  </body>
</html>
