<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
      title: 'Perfil de usuario'
    })  %> 
<body>
    <%- include('../partials/header')  %> 
    <h1>Profile</h1>
    <div class="card" style="width: 18rem; padding-left: 15px;">
      <img src="/images/courses/image-not-available.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h2><%= userLogin.name %></h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <%- include('../partials/whatsapp')  %> 
    <%- include('../partials/footer')  %>  
</body>
</html>